header.header.container
	.header-wrapper
		.header__content
			.header__left
				.header__logo
					img(src="./images/logos/logo1.svg", alt="")
			.header__center
				.header__block
					h2.header__title Слоган <br> для продажи
					.decoration.--orange
			.header__right
				.header__logo
					img(src="./images/logos/logo2.svg", alt="")
	nav.header-navigation
		ul.header-navigation__items
			li.header-navigation__item  
				a(href="#") О проекте
			li.header-navigation__item  
				a(href="#") Продукты
			li.header-navigation__item
				a(href="#") Доставка
			li.header-navigation__item
				a(href="#") Сертификаты
			li.header-navigation__item  
				a(href="#") Контакты
	.header__background
		img(src="./images/background-banner.png", alt="")