main.index
  nav.index__navigation.index-navigation
    ul.index-navigation__items
      li.index-navigation__item О проекте
      li.index-navigation__item Продукты
      li.index-navigation__item Доставка
      li.index-navigation__item Сертификаты
      li.index-navigation__item Контакты
  .index__block.index-slider
    .index-slider__image
      img(src="../../images/index-photo.png", alt="")
    .index-slider__description
      .index-slider__title F-Box Fantazista 10
      .index-slider__text 00 17 Вариция с металлической сеткой
    .index-slider__background
  .index__block.index-video
    .index-video__wrapper
      .index-video__inner
        h2.index-video__text Безценные эмоции
        .index-video__video
          video(src="") 
        .decoration--orange
  .index__block.index-f-box
    .index-f-box__wrapper
      .index-f-box__items
        .index-f-box__item
        .index-f-box__item
          h2.index-f-box__title Что такое F-Box
        .index-f-box__item
          p.index-f-box__paragraph С точки зрения практичности цвет не так важен, потому что столы не пачкаются. Но важно учитывать, что при письме ребёнок может ненароком задевать столешницу ручкой — и останутся некрасивые следы. С большинства поверхностей ручка оттирается плохо. На этот случай можно приобрести специальную накладку на стол — если что-то и испачкается, то стол останется нетронутым.  Вне зависимости от типа важно обратить внимание на высоту письменного стола для школьника. Неправильная высота — залог плохого настроения и болей в спине. 
        .index-f-box__item
          p.index-f-box__paragraph Стоит ориентироваться на желания школьника, но и учитывать общие рекомендации специалистов. Универсальный вариант — коричневый. Для успокаивающего воздействия и концентрации рекомендуются зелёные и жёлтые оттенки. Красные тона повышают утомляемость.
          p.index-f-box__paragraph Но это индивидуально — возможно, ваш ребёнок будет продуктивен за ярко-алым столом, а кому-то зелёный мозолит глаза. Оптимальным выбором будет нейтральный цвет, который впишется в общую гамму комнаты.
      .index-f-box__image
        img(src="../../images/f-box.png", alt="")
      .decoration--orange
  .index__block.index-advantage
    h2.index-advantage__title Преимущества
    .index-advantage__wrapper
      .index-advantage__items
        .index-advantage__item
          h3 Быстрый монтаж
          .index-advantage__icon Иконка
          .index-advantage__number 1 
        .index-advantage__item
          h3 Строгая сертификация
          .index-advantage__icon Иконка
          .index-advantage__number 2 
        .index-advantage__item
          h3 Программная поддержка
          .index-advantage__icon Иконка
          .index-advantage__number 3
      .decoration--black
  .index__block.index-gallery
    h2.index-gallery__title Галерея
    .index-gallery__wrapper
      .index-gallery__inner
        .index-gallery__items
          .index-gallery__item
          .index-gallery__item
          .index-gallery__item
          .index-gallery__item
    .index-gallery__background
      img(src="../../images/galery-bg.png", alt="")
  .index__block.index-request
    .index-request__wrapper
      .index-request__block
        h2.index-request__title Оставить заявку
        form.index-request__form
          .index-request__form-groups
            .index-request__form-group
              input(type="text" placeholder="Как обращаться" required)
            .index-request__form-group
              input(type="input" placeholder="Телефон или e-mail" required) 
              input(type="text" placeholder="Город")
          .index-request__form-submit
            button(type="submit") Отправить
            a(href="#") Соглашаюсь на обработку данных для получения информации
  footer.index__block.index-contacts
    .index-contacts__wrapper
      .index-contacts__logo
        img(src="../../images/logos/contact-logo.svg", alt="")
      .index-contacts__description
        .index-contacts__links
          a.index-contacts__link.index-contacts__link_primary(href="tel:+78005555555")
          a.index-contacts__link(href="#") инфо@ф10.рф
          a.index-contacts__link(href="#") политика конфидициальности
        .index-contacts__footer-description
          span 2020 Все права на копирование охраняются законом РФ
          a(href="http://lafedja.ru/") Made LaFedja.ru
          