main.index
  .swiper.index__block.index-slider.container(data-aos="fade-up" data-aos-delay="1750")
    .swiper-wrapper.index-slider__items
      .swiper-slide.index-slider__item
        .index-slider__image
          img(src="./images/index-photo.png", alt="" data-modal-open)
        .index-slider__description
          h4.index-slider__title F-Box Fantazista 10
          p.index-slider__text 00 17 Вариция с металлической сеткой
      .swiper-slide.index-slider__item
        .index-slider__image
          img(src="./images/index-photo.png", alt="" data-modal-open)
        .index-slider__description
          h4.index-slider__title F-Box Fantazista 10
          p.index-slider__text 00 17 Вариция с металлической сеткой
    .swiper-navigation.index-slider__navigation
      .index-slider__button.index-slider__button_prev
        svg(width='94' height='90' viewbox='0 0 47 45' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(class="linear-gradient" fill-rule='evenodd' clip-rule='evenodd' d='M19.3699 0.930012C22.1999 -0.529988 25.2199 -0.229988 27.9399 1.52001L43.8899 13.28C46.1499 15.52 46.7999 18.49 45.9799 21.61L39.1099 40.31C37.6799 43.15 35.0599 44.69 31.8299 44.87L13.2499 44.83C10.1099 44.35 7.82991 42.33 6.66991 39.32L0.759914 22.45C-0.630086 18.46 -0.270086 15.35 3.25991 12.46L19.3699 0.930012Z' fill='url(#paint0_linear_338_21)')
          path(d='M29.0702 15L27.0702 12.77L13.9102 24.56L26.7802 36.64L28.8202 34.44L18.7602 24.37L29.0702 15Z' fill='#201600')
          defs
            lineargradient#paint0_linear_338_21(x1='23.1599' y1='47.43' x2='23.1599' y2='-5.96999' gradientunits='userSpaceOnUse')
              stop(stop-color='#F3C644')
              stop(offset='1' stop-color='#E08B49')
      .index-slider__button.index-slider__button_next
        svg(width='94' height='90' viewbox='0 0 47 45' fill='none' xmlns='http://www.w3.org/2000/svg')
          path(class="linear-gradient" fill-rule='evenodd' clip-rule='evenodd' d='M19.3699 0.930012C22.1999 -0.529988 25.2199 -0.229988 27.9399 1.52001L43.8899 13.28C46.1499 15.52 46.7999 18.49 45.9799 21.61L39.1099 40.31C37.6799 43.15 35.0599 44.69 31.8299 44.87L13.2499 44.83C10.1099 44.35 7.82991 42.33 6.66991 39.32L0.759914 22.45C-0.630086 18.46 -0.270086 15.35 3.25991 12.46L19.3699 0.930012Z' fill='url(#paint0_linear_338_25)')
          path(d='M14.98 34.46L16.99 36.69L30.14 24.9L17.27 12.81L15.24 15.02L25.3 25.09L14.98 34.46Z' fill='#201600')
          defs
            lineargradient#paint0_linear_338_25(x1='23.1599' y1='47.43' x2='23.1599' y2='-5.96999' gradientunits='userSpaceOnUse')
              stop(stop-color='#F3C644')
              stop(offset='1' stop-color='#E08B49')
  .index__block.index-video.container(data-aos="fade-right" data-aos-delay="500" data-aos-duration="750")
    .index-video__wrapper
      .index-video__inner
        .index-video__block.index-video__block_left(data-aos="fade-right" data-aos-delay="1000" data-aos-duration="750" data-aos-easing="ease-in-sine")
          h2.index-video__title Безценные эмоции
          .decoration.--orange
        .index-video__block.index-video__block_right
          .index-video__video
            video(src="https://www.newlife-ul.ru/upload/iblock/3bf/ni0z34w6j733y0n0ugya6z3peaj7bppe.mp4#t=0.1" muted controls) 
  .index__block.index-f-box.container
    .index-f-box__wrapper
      .index-f-box__items
        .index-f-box__item
        .index-f-box__item.index-f-box__item_decoration(data-aos="fade-left") 
          h2.index-f-box__title Что такое F-Box
          .decoration.--orange
        .index-f-box__item
          p.index-f-box__paragraph(data-aos="fade-up" data-aos-delay="250")  С точки зрения практичности цвет не так важен, потому что столы не пачкаются. Но важно учитывать, что при письме ребёнок может ненароком задевать столешницу ручкой — и останутся некрасивые следы. С большинства поверхностей ручка оттирается плохо. На этот случай можно приобрести специальную накладку на стол — если что-то и испачкается, то стол останется нетронутым.  Вне зависимости от типа важно обратить внимание на высоту письменного стола для школьника. Неправильная высота — залог плохого настроения и болей в спине. 
        .index-f-box__item
          p.index-f-box__paragraph(data-aos="fade-up" data-aos-delay="500") Стоит ориентироваться на желания школьника, но и учитывать общие рекомендации специалистов. Универсальный вариант — коричневый. Для успокаивающего воздействия и концентрации рекомендуются зелёные и жёлтые оттенки. Красные тона повышают утомляемость.
          p.index-f-box__paragraph(data-aos="fade-up" data-aos-delay="750") Но это индивидуально — возможно, ваш ребёнок будет продуктивен за ярко-алым столом, а кому-то зелёный мозолит глаза. Оптимальным выбором будет нейтральный цвет, который впишется в общую гамму комнаты.
      .index-f-box__image(data-aos="fade-down" data-aos-delay="1000")
        img(src="./images/f-box.png", alt="")
      .decoration--orange 
  .index__block.index-advantage 
    .index-advantage__title-wrapper.container(data-aos="fade-left" data-aos-delay="500")
      h2.index-advantage__title Преимущества
      .decoration.--black
    .index-advantage__wrapper
      .index-advantage__content.container
        .swiper-wrapper.index-advantage__items
          .swiper-slide
            .index-advantage__item(data-aos="fade-right" data-aos-delay="750")
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Быстрый монтаж
                span.index-advantage__item-icon 
                span.index-advantage__item-number 1 
          .swiper-slide
            .index-advantage__item(data-aos="fade-down" data-aos-delay="1000")
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Строгая сертификация
                span.index-advantage__item-icon
                span.index-advantage__item-number 2
          .swiper-slide
            .index-advantage__item(data-aos="fade-left" data-aos-delay="1250")
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Программная поддержка
                span.index-advantage__item-icon 
                span.index-advantage__item-number 3
          .swiper-slide
            .index-advantage__item
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Быстрый монтаж
                span.index-advantage__item-icon 
                span.index-advantage__item-number 4
          .swiper-slide
            .index-advantage__item
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Строгая сертификация
                span.index-advantage__item-icon 
                span.index-advantage__item-number 5
          .swiper-slide
            .index-advantage__item
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Программная поддержка
                span.index-advantage__item-icon 
                span.index-advantage__item-number 6
        .index-advantage__interaction
          .swiper-pagination.index-advantage__pagination(data-aos="fade-up" data-aos-delay="1500")
          .index-advantage__button.index-advantage__button_prev(data-aos="fade-right" data-aos-delay="1250")
            svg(width='16', height='24', viewBox='0 0 16 24', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M15.16 2.23L13.16 0L0 11.79L12.87 23.88L14.91 21.67L4.84 11.6L15.16 2.23Z', fill='#1D1D1B')
          .index-advantage__button.index-advantage__button_next(data-aos="fade-left" data-aos-delay="1250")
            svg(width='16', height='24', viewBox='0 0 16 24', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M0.000156403 21.65L2.00016 23.88L15.1602 12.09L2.29016 5.72205e-06L0.250156 2.21L10.3202 12.28L0.000156403 21.65Z', fill='#1D1D1B')
  .index__block.index-gallery
    .index-gallery__wrapper
      .index-gallery__content-wrapper
        h2.index-gallery__title(data-aos="fade-down" data-aos-delay="1500") Галерея
        .index-gallery__content(data-aos="zoom-in" data-aos-delay="1000")
          .index-gallery__inner-wrapper.container
            .index-gallery__inner
              .swiper.index-gallery__slider(data-aos="flip-up" data-aos-delay="2000")
                .swiper-wrapper.index-gallery__items
                  .swiper-slide.index-gallery__item
                    img(src="https://bipbap.ru/wp-content/uploads/2017/08/0-70.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://happypik.ru/wp-content/uploads/2019/09/top1-2.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://bipbap.ru/wp-content/uploads/2017/06/0fb1612ab996t.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSExyyvf7aTE_q5XVyLzj1-sIA4yonVvuWqCnqc5y4Vdw&s", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://bipbap.ru/wp-content/uploads/2017/08/0-70.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://happypik.ru/wp-content/uploads/2019/09/top1-2.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://bipbap.ru/wp-content/uploads/2017/06/0fb1612ab996t.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSExyyvf7aTE_q5XVyLzj1-sIA4yonVvuWqCnqc5y4Vdw&s", alt="" data-modal-open)
                .swiper-navigation.index-gallery__navigation
                  .index-gallery__button.index-gallery__button_prev(data-aos="flip-left" data-aos-delay="2000")
                    svg(width='94' height='90' viewbox='0 0 47 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M19.3699 0.930012C22.1999 -0.529988 25.2199 -0.229988 27.9399 1.52001L43.8899 13.28C46.1499 15.52 46.7999 18.49 45.9799 21.61L39.1099 40.31C37.6799 43.15 35.0599 44.69 31.8299 44.87L13.2499 44.83C10.1099 44.35 7.82991 42.33 6.66991 39.32L0.759914 22.45C-0.630086 18.46 -0.270086 15.35 3.25991 12.46L19.3699 0.930012Z' fill='url(#paint0_linear_338_21)')
                      path(d='M29.0702 15L27.0702 12.77L13.9102 24.56L26.7802 36.64L28.8202 34.44L18.7602 24.37L29.0702 15Z' fill='#201600')
                      defs
                        lineargradient#paint0_linear_338_21(x1='23.1599' y1='47.43' x2='23.1599' y2='-5.96999' gradientunits='userSpaceOnUse')
                          stop(stop-color='#F3C644')
                          stop(offset='1' stop-color='#E08B49')
                  .index-gallery__button.index-gallery__button_next(data-aos="flip-right" data-aos-delay="2250")
                    svg(width='94' height='90' viewbox='0 0 47 45' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(fill-rule='evenodd' clip-rule='evenodd' d='M19.3699 0.930012C22.1999 -0.529988 25.2199 -0.229988 27.9399 1.52001L43.8899 13.28C46.1499 15.52 46.7999 18.49 45.9799 21.61L39.1099 40.31C37.6799 43.15 35.0599 44.69 31.8299 44.87L13.2499 44.83C10.1099 44.35 7.82991 42.33 6.66991 39.32L0.759914 22.45C-0.630086 18.46 -0.270086 15.35 3.25991 12.46L19.3699 0.930012Z' fill='url(#paint0_linear_338_25)')
                      path(d='M14.98 34.46L16.99 36.69L30.14 24.9L17.27 12.81L15.24 15.02L25.3 25.09L14.98 34.46Z' fill='#201600')
                      defs
                        lineargradient#paint0_linear_338_25(x1='23.1599' y1='47.43' x2='23.1599' y2='-5.96999' gradientunits='userSpaceOnUse')
                          stop(stop-color='#F3C644')
                          stop(offset='1' stop-color='#E08B49')
          .decoration.--orange
      .index-gallery__background(data-aos="zoom-in-out" data-aos-delay="500")
        img(src="./images/galery-bg.png", alt="")
  .index__block.index-request.container
    .index-request__wrapper
      .index-request__block
        h2.index-request__title(data-aos="fade-right" data-aos-delay="750") Оставить заявку
        form.index-request__form
          .index-request__form-groups(data-aos="fade-down" data-aos-delay="1250")
            .index-request__form-group
              .index-request__form-input.--big.--required
                input(type="text" placeholder="Как обращаться" required)
            .index-request__form-group
              .index-request__form-input.--medium.--required
                input(type="input" placeholder="Телефон или e-mail" required)
              .index-request__form-input.--medium
                input(type="text" placeholder="Город")
          .index-request__form-confirm(data-aos="fade-left" data-aos-delay="2250")
            button.index-request__form-confirm-button(type="submit") 
              svg(width='221' height='47' viewbox='0 0 221 47' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M219.19 18.78L207.09 3.09C205.49 1.26 203.49 0.18 201.27 0.02V0H18.9102V0.03C16.7202 0.21 14.7502 1.28 13.1602 3.09L1.07019 18.78C-0.489813 21.55 -0.299813 24.59 1.35019 27.36L13.1002 43.45C14.6902 45.17 16.7102 46.03 18.9202 46.08H19.0202H201.27C203.51 46.04 205.55 45.18 207.16 43.44L218.91 27.35C220.56 24.57 220.75 21.54 219.19 18.77V18.78Z' fill='url(#paint0_linear_379_30)')
                defs
                  lineargradient#paint0_linear_379_30(x1='110.13' y1='46.97' x2='110.13' y2='-0.0300004' gradientunits='userSpaceOnUse')
                    stop(stop-color='#FFCC00')
                    stop(offset='1' stop-color='#F3901A')
              .index-request__form-confirm-text Отправить
            a.index-request__form-confirm-link(href="#") Соглашаюсь на обработку данных для получения информации
  .index__block.index-contacts
    .index-contacts__wrapper.container
      .index-contacts__content(data-aos="fade-right")
        .index-contacts__logo
          img(src="./images/logos/contact-logo.svg", alt="")
        .index-contacts__description
          .index-contacts__links
            a.index-contacts__link.index-contacts__link_number(href="tel:+78005555555") +7 800 555 55 55
            a.index-contacts__link(href="#") инфо@ф10.рф
            a.index-contacts__link(href="#") политика конфидициальности
          .index-contacts__all-rights
            span 2022 Все права на копирование охраняются законом РФ
            a(href="http://lafedja.ru/") Made LaFedja.ru
      .index-contacts__background
        img(src="./images/ball.png")  