main.index
  .swiper.index__block.index-slider.container(data-aos="fade-up" data-aos-delay="1750")
    .swiper-wrapper.index-slider__items
      .swiper-slide.index-slider__item
        .index-slider__image
          img(src="./images/index-photo.png", alt="" data-modal-open)
        .index-slider__description
          h4.index-slider__title F-Box Fantazista 10
          p.index-slider__text 00 17 Вариция с металлической сеткой
      .swiper-slide.index-slider__item
        .index-slider__image
          img(src="./images/index-photo.png", alt="" data-modal-open)
        .index-slider__description
          h4.index-slider__title F-Box Fantazista 10
          p.index-slider__text 00 17 Вариция с металлической сеткой
    .swiper-navigation.index-slider__navigation
      .index-slider__button.index-slider__button_prev
        img(src="./images/button-back.svg", alt="")
      .index-slider__button.index-slider__button_next
        img(src="./images/button-next.svg", alt="")

  .index__block.index-video.container(data-aos="fade-right" data-aos-delay="500" data-aos-duration="750")
    .index-video__wrapper
      .index-video__inner
        .index-video__block.index-video__block_left(data-aos="fade-right" data-aos-delay="1000" data-aos-duration="750" data-aos-easing="ease-in-sine")
          h2.index-video__title Безценные эмоции
          .decoration.--orange
        .index-video__block.index-video__block_right
          .index-video__video
            video(src="https://www.newlife-ul.ru/upload/iblock/3bf/ni0z34w6j733y0n0ugya6z3peaj7bppe.mp4#t=0.1" muted controls) 
  .index__block.index-f-box.container
    .index-f-box__wrapper
      .index-f-box__items
        .index-f-box__item
        .index-f-box__item.index-f-box__item_decoration(data-aos="fade-left") 
          h2.index-f-box__title Что такое F-Box
          .decoration.--orange
        .index-f-box__item
          p.index-f-box__paragraph(data-aos="fade-up" data-aos-delay="250")  С точки зрения практичности цвет не так важен, потому что столы не пачкаются. Но важно учитывать, что при письме ребёнок может ненароком задевать столешницу ручкой — и останутся некрасивые следы. С большинства поверхностей ручка оттирается плохо. На этот случай можно приобрести специальную накладку на стол — если что-то и испачкается, то стол останется нетронутым.  Вне зависимости от типа важно обратить внимание на высоту письменного стола для школьника. Неправильная высота — залог плохого настроения и болей в спине. 
        .index-f-box__item
          p.index-f-box__paragraph(data-aos="fade-up" data-aos-delay="500") Стоит ориентироваться на желания школьника, но и учитывать общие рекомендации специалистов. Универсальный вариант — коричневый. Для успокаивающего воздействия и концентрации рекомендуются зелёные и жёлтые оттенки. Красные тона повышают утомляемость.
          p.index-f-box__paragraph(data-aos="fade-up" data-aos-delay="750") Но это индивидуально — возможно, ваш ребёнок будет продуктивен за ярко-алым столом, а кому-то зелёный мозолит глаза. Оптимальным выбором будет нейтральный цвет, который впишется в общую гамму комнаты.
      .index-f-box__image(data-aos="fade-down" data-aos-delay="1000")
        img(src="./images/f-box.png", alt="")
      .decoration--orange 
  .index__block.index-advantage 
    .index-advantage__title-wrapper.container(data-aos="fade-left" data-aos-delay="500")
      h2.index-advantage__title Преимущества
      .decoration.--black
    .index-advantage__wrapper
      .index-advantage__content.container
        .swiper-wrapper.index-advantage__items
          .swiper-slide
            .index-advantage__item(data-aos="fade-right" data-aos-delay="750")
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Быстрый монтаж
                span.index-advantage__item-icon
                  img(src="./images/icons/advantage-1.svg")
                span.index-advantage__item-number 1 
          .swiper-slide
            .index-advantage__item(data-aos="fade-down" data-aos-delay="1000")
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Строгая сертификация
                span.index-advantage__item-icon
                  img(src="./images/icons/advantage-2.svg")
                span.index-advantage__item-number 2
          .swiper-slide
            .index-advantage__item(data-aos="fade-left" data-aos-delay="1250")
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Программная поддержка
                span.index-advantage__item-icon
                  img(src="./images/icons/advantage-3.svg")
                span.index-advantage__item-number 3
          .swiper-slide
            .index-advantage__item
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Быстрый монтаж
                span.index-advantage__item-icon
                  img(src="./images/icons/advantage-4.svg")
                span.index-advantage__item-number 4
          .swiper-slide
            .index-advantage__item
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Строгая сертификация
                span.index-advantage__item-icon
                  img(src="./images/icons/advantage-5.svg")
                span.index-advantage__item-number 5
          .swiper-slide
            .index-advantage__item
              .index-advantage__item-wrapper
                h3.index-advantage__item-text Программная поддержка
                span.index-advantage__item-icon 
                  img(src="./images/icons/advantage-6.svg")
                span.index-advantage__item-number 6
        .index-advantage__interaction
          .swiper-pagination.index-advantage__pagination(data-aos="fade-up" data-aos-delay="1500")
          .index-advantage__button.index-advantage__button_prev(data-aos="fade-right" data-aos-delay="1250")
            svg(width='16', height='24', viewBox='0 0 16 24', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M15.16 2.23L13.16 0L0 11.79L12.87 23.88L14.91 21.67L4.84 11.6L15.16 2.23Z', fill='#1D1D1B')
          .index-advantage__button.index-advantage__button_next(data-aos="fade-left" data-aos-delay="1250")
            svg(width='16', height='24', viewBox='0 0 16 24', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M0.000156403 21.65L2.00016 23.88L15.1602 12.09L2.29016 5.72205e-06L0.250156 2.21L10.3202 12.28L0.000156403 21.65Z', fill='#1D1D1B')
  .index__block.index-gallery
    .index-gallery__wrapper
      .index-gallery__content-wrapper
        h2.index-gallery__title(data-aos="fade-down" data-aos-delay="1500") Галерея
        .index-gallery__content(data-aos="zoom-in" data-aos-delay="1000")
          .index-gallery__inner-wrapper.container
            .index-gallery__inner
              .swiper.index-gallery__slider(data-aos="flip-up" data-aos-delay="2000")
                .swiper-wrapper.index-gallery__items
                  .swiper-slide.index-gallery__item
                    img(src="https://bipbap.ru/wp-content/uploads/2017/08/0-70.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://happypik.ru/wp-content/uploads/2019/09/top1-2.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://bipbap.ru/wp-content/uploads/2017/06/0fb1612ab996t.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSExyyvf7aTE_q5XVyLzj1-sIA4yonVvuWqCnqc5y4Vdw&s", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://bipbap.ru/wp-content/uploads/2017/08/0-70.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://happypik.ru/wp-content/uploads/2019/09/top1-2.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://bipbap.ru/wp-content/uploads/2017/06/0fb1612ab996t.jpg", alt="" data-modal-open)
                  .swiper-slide.index-gallery__item
                    img(src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSExyyvf7aTE_q5XVyLzj1-sIA4yonVvuWqCnqc5y4Vdw&s", alt="" data-modal-open)
                .index-gallery__button.index-gallery__button_prev
                  img(src="./images/button-back.svg")
                .index-gallery__button.index-gallery__button_next
                  img(src="./images/button-next.svg")
          .decoration.--orange
      .index-gallery__background(data-aos="zoom-in-out" data-aos-delay="500")
        img(src="./images/galery-bg.png", alt="")
  .index__block.index-request.container
    .index-request__wrapper
      .index-request__block(data-aos="fade-left")
        h2.index-request__title Оставить заявку
        form.index-request__form
          .index-request__form-groups
            .index-request__form-group
              .index-request__form-input.--big.--required
                input(type="text" placeholder="Как обращаться" required)
            .index-request__form-group
              .index-request__form-input.--medium.--required
                input(type="input" placeholder="Телефон или e-mail" required)
              .index-request__form-input.--medium
                input(type="text" placeholder="Город")
          .index-request__form-confirm
            button.index-request__form-confirm-button(type="submit") 
              svg(width='241', height='67', viewBox='0 0 241 67', fill='none', xmlns='http://www.w3.org/2000/svg')
                g(filter='url(#filter0_d_379_30)')
                  path(fill-rule='evenodd', clip-rule='evenodd', d='M229.19 18.78L217.09 3.09C215.49 1.26 213.49 0.18 211.27 0.02V0H28.9102V0.03C26.7202 0.21 24.7502 1.28 23.1602 3.09L11.0702 18.78C9.51019 21.55 9.70019 24.59 11.3502 27.36L23.1002 43.45C24.6902 45.17 26.7102 46.03 28.9202 46.08H29.0202H211.27C213.51 46.04 215.55 45.18 217.16 43.44L228.91 27.35C230.56 24.57 230.75 21.54 229.19 18.77V18.78Z', fill='url(#paint0_linear_379_30)')
                  path(d='M72.5 30.12C71.4467 30.12 70.4667 29.9467 69.56 29.6C68.6667 29.24 67.8867 28.74 67.22 28.1C66.5667 27.4467 66.0533 26.6933 65.68 25.84C65.32 24.9733 65.14 24.0267 65.14 23C65.14 21.9733 65.32 21.0333 65.68 20.18C66.0533 19.3133 66.5667 18.56 67.22 17.92C67.8867 17.2667 68.6667 16.7667 69.56 16.42C70.4533 16.06 71.4333 15.88 72.5 15.88C73.5533 15.88 74.5267 16.06 75.42 16.42C76.3133 16.7667 77.0867 17.26 77.74 17.9C78.4067 18.54 78.92 19.2933 79.28 20.16C79.6533 21.0267 79.84 21.9733 79.84 23C79.84 24.0267 79.6533 24.9733 79.28 25.84C78.92 26.7067 78.4067 27.46 77.74 28.1C77.0867 28.74 76.3133 29.24 75.42 29.6C74.5267 29.9467 73.5533 30.12 72.5 30.12ZM72.5 28.8C73.34 28.8 74.1133 28.66 74.82 28.38C75.54 28.0867 76.16 27.68 76.68 27.16C77.2133 26.6267 77.6267 26.0133 77.92 25.32C78.2133 24.6133 78.36 23.84 78.36 23C78.36 22.16 78.2133 21.3933 77.92 20.7C77.6267 19.9933 77.2133 19.38 76.68 18.86C76.16 18.3267 75.54 17.92 74.82 17.64C74.1133 17.3467 73.34 17.2 72.5 17.2C71.66 17.2 70.88 17.3467 70.16 17.64C69.44 17.92 68.8133 18.3267 68.28 18.86C67.76 19.38 67.3467 19.9933 67.04 20.7C66.7467 21.3933 66.6 22.16 66.6 23C66.6 23.8267 66.7467 24.5933 67.04 25.3C67.3467 26.0067 67.76 26.6267 68.28 27.16C68.8133 27.68 69.44 28.0867 70.16 28.38C70.88 28.66 71.66 28.8 72.5 28.8ZM84.7388 30V20.36L85.0988 20.74H80.7588V19.5H90.1388V20.74H85.7988L86.1588 20.36V30H84.7388ZM92.1919 30V19.5H101.632V30H100.212V20.36L100.572 20.74H93.2519L93.6119 20.36V30H92.1919ZM111.088 30.1C110.182 30.1 109.362 29.8933 108.628 29.48C107.895 29.0533 107.308 28.4467 106.868 27.66C106.442 26.86 106.228 25.8867 106.228 24.74C106.228 23.5933 106.442 22.6267 106.868 21.84C107.295 21.04 107.875 20.4333 108.608 20.02C109.342 19.6067 110.168 19.4 111.088 19.4C112.088 19.4 112.982 19.6267 113.768 20.08C114.568 20.52 115.195 21.1467 115.648 21.96C116.102 22.76 116.328 23.6867 116.328 24.74C116.328 25.8067 116.102 26.74 115.648 27.54C115.195 28.34 114.568 28.9667 113.768 29.42C112.982 29.8733 112.088 30.1 111.088 30.1ZM105.668 33.88V19.5H107.028V22.66L106.888 24.76L107.088 26.88V33.88H105.668ZM110.988 28.84C111.735 28.84 112.402 28.6733 112.988 28.34C113.575 27.9933 114.042 27.5133 114.388 26.9C114.735 26.2733 114.908 25.5533 114.908 24.74C114.908 23.9267 114.735 23.2133 114.388 22.6C114.042 21.9867 113.575 21.5067 112.988 21.16C112.402 20.8133 111.735 20.64 110.988 20.64C110.242 20.64 109.568 20.8133 108.968 21.16C108.382 21.5067 107.915 21.9867 107.568 22.6C107.235 23.2133 107.068 23.9267 107.068 24.74C107.068 25.5533 107.235 26.2733 107.568 26.9C107.915 27.5133 108.382 27.9933 108.968 28.34C109.568 28.6733 110.242 28.84 110.988 28.84ZM125.841 30V27.68L125.781 27.3V23.42C125.781 22.5267 125.527 21.84 125.021 21.36C124.527 20.88 123.787 20.64 122.801 20.64C122.121 20.64 121.474 20.7533 120.861 20.98C120.247 21.2067 119.727 21.5067 119.301 21.88L118.661 20.82C119.194 20.3667 119.834 20.02 120.581 19.78C121.327 19.5267 122.114 19.4 122.941 19.4C124.301 19.4 125.347 19.74 126.081 20.42C126.827 21.0867 127.201 22.1067 127.201 23.48V30H125.841ZM122.221 30.1C121.434 30.1 120.747 29.9733 120.161 29.72C119.587 29.4533 119.147 29.0933 118.841 28.64C118.534 28.1733 118.381 27.64 118.381 27.04C118.381 26.4933 118.507 26 118.761 25.56C119.027 25.1067 119.454 24.7467 120.041 24.48C120.641 24.2 121.441 24.06 122.441 24.06H126.061V25.12H122.481C121.467 25.12 120.761 25.3 120.361 25.66C119.974 26.02 119.781 26.4667 119.781 27C119.781 27.6 120.014 28.08 120.481 28.44C120.947 28.8 121.601 28.98 122.441 28.98C123.241 28.98 123.927 28.8 124.501 28.44C125.087 28.0667 125.514 27.5333 125.781 26.84L126.101 27.82C125.834 28.5133 125.367 29.0667 124.701 29.48C124.047 29.8933 123.221 30.1 122.221 30.1ZM130.981 30V19.5H135.621C136.808 19.5 137.741 19.7267 138.421 20.18C139.114 20.6333 139.461 21.3 139.461 22.18C139.461 23.0333 139.134 23.6933 138.481 24.16C137.828 24.6133 136.968 24.84 135.901 24.84L136.181 24.42C137.434 24.42 138.354 24.6533 138.941 25.12C139.528 25.5867 139.821 26.26 139.821 27.14C139.821 28.0467 139.488 28.7533 138.821 29.26C138.168 29.7533 137.148 30 135.761 30H130.981ZM132.361 28.88H135.701C136.594 28.88 137.268 28.74 137.721 28.46C138.188 28.1667 138.421 27.7 138.421 27.06C138.421 26.42 138.214 25.9533 137.801 25.66C137.388 25.3667 136.734 25.22 135.841 25.22H132.361V28.88ZM132.361 24.16H135.521C136.334 24.16 136.954 24.0067 137.381 23.7C137.821 23.3933 138.041 22.9467 138.041 22.36C138.041 21.7733 137.821 21.3333 137.381 21.04C136.954 20.7467 136.334 20.6 135.521 20.6H132.361V24.16ZM143.149 30V19.5H144.569V27.84L151.589 19.5H152.849V30H151.429V21.64L144.429 30H143.149ZM158.918 30V20.36L159.278 20.74H154.938V19.5H164.318V20.74H159.978L160.338 20.36V30H158.918ZM170.892 23.2C172.212 23.2133 173.212 23.5067 173.892 24.08C174.585 24.6533 174.932 25.48 174.932 26.56C174.932 27.68 174.558 28.54 173.812 29.14C173.078 29.74 172.012 30.0333 170.612 30.02L166.372 30V19.5H167.792V23.16L170.892 23.2ZM170.532 28.94C171.505 28.9533 172.238 28.76 172.732 28.36C173.238 27.9467 173.492 27.3467 173.492 26.56C173.492 25.7733 173.245 25.2 172.752 24.84C172.258 24.4667 171.518 24.2733 170.532 24.26L167.792 24.22V28.9L170.532 28.94Z', fill='black')
                defs
                  filter#filter0_d_379_30(x='0', y='0', width='240.26', height='66.0801', filterUnits='userSpaceOnUse', color-interpolation-filters='sRGB')
                    feflood(flood-opacity='0', result='BackgroundImageFix')
                    fecolormatrix(in='SourceAlpha', type='matrix', values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0', result='hardAlpha')
                    feoffset(dy='10')
                    fegaussianblur(stdDeviation='5')
                    fecomposite(in2='hardAlpha', operator='out')
                    fecolormatrix(type='matrix', values='0 0 0 0 1 0 0 0 0 0.239216 0 0 0 0 0 0 0 0 0.25 0')
                    feblend(mode='normal', in2='BackgroundImageFix', result='effect1_dropShadow_379_30')
                    feblend(mode='normal', in='SourceGraphic', in2='effect1_dropShadow_379_30', result='shape')
                  lineargradient#paint0_linear_379_30(x1='120.13', y1='46.97', x2='120.13', y2='-0.0300004', gradientUnits='userSpaceOnUse')
                    stop(stop-color='#FFCC00')
                    stop(offset='1', stop-color='#F3901A')
            a.index-request__form-confirm-link(href="#") Соглашаюсь на обработку данных для получения информации
  .index-contacts
    .index-contacts__wrapper.container
      .index-contacts__content(data-aos="fade-right")
        .index-contacts__logo
          img(src="./images/logos/contact-logo.svg", alt="")
        .index-contacts__description
          .index-contacts__links
            a.index-contacts__link.index-contacts__link_number(href="tel:+78005555555") +7 800 555 55 55
            a.index-contacts__link(href="#") инфо@ф10.рф
            a.index-contacts__link(href="#") политика конфидициальности
          .index-contacts__all-rights
            span 2022 Все права на копирование охраняются законом РФ
            a(href="http://lafedja.ru/") Made LaFedja.ru
      .index-contacts__background
        img(src="./images/ball.png")  