extends pug/base

prepend vars
	//-

append vars
	//-
	title Fantazista

block content

	.index-page
		include pug/components/header
		include pug/pages/index
	//- .index__background.container
	//- 	.index__background-wrapper
	//- 		.index__background-content
	//- 			h2.index__background-text Слоган <br> для продажи
	//- 			.decoration--orange Блок
	//- 			.index__background-image
	//- 				img(src="./images/background-banner.png", alt="")

