extends pug/base

prepend vars
	//-

append vars
	//-
	title Fantazista
	link(rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css")

block content

	.index-page
		include pug/components/header
		include pug/pages/index
	
	include pug/components/modal-popup


