.container {
	margin: 0 auto;
	max-width: $max-width-container;
}

h1,
.h1 {

}

h2,
.h2 {
	font-size: vw(60, 20);
	line-height: vw(55, 23);
}

h3,
.h3 {
	font-size: vw(30, 10);
	line-height: vw(36, 20);
}

.decoration {
	position: absolute;
	width: 40px;
	height: 10px;

	&.--orange {
		background-color: $color-orange-1;
	}

	&.--black {
		background-color: $color-black;
	}
}

body {
	font-family: $font-montserrat;
	font-weight: 400;
	color: $color-gray-2;
	background-color: $color-body-background;
}
