// COLORS
$color-black: #000;
$color-white: #fff;
$color-gray-1: #8e606e;
$color-gray-2: #f0f0f0;
$color-gray-3: #7b7b7b;
$color-orange-1: #ff6d00;
$color-orange-2: #ff8201;
$color-body-background: #323232;

// FONTS
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$font-secondary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;

// Settings
$max-width-container: 1200;
$desktop: 1024;
$desktop-xl: 1920;
$laptop: 1440;
$tablet: 768;
$mobile: 320;
$desktop-vh: 750;
